<%- include ('../partials/header') %>
  <div class="profile-hero">
    <div class="hero-text-box-2">        
      <h1><%= title %> <span class="h2"><%= subTitle %></span></h1>
    </div>
  </div>
  <main class="blog">
    <div class="container">
      <% if (!blogs.length) { %>
        <div class="row">
          <div class="col-12">
            <div class="no-blog-wrapper text-center">
              <h1>You don't have any blogs yet!</h1>
              <a href="#" class="btn btn-sm btn-primary mt-5 shadow">Create one now!</a>
            </div>
          </div>
        </div>
      <% } else { %>
        <div class="row">
          <% blogs.forEach((blog) => { %>
            <% if (blog.featured) { %>
              <div class="col-12 mb-3">
                <div class="card zoom shadow ">
                  <div class="row no-gutters">
                    <div class="col-lg-8">
                      <img src="<%= blog.image.secure_url %>" alt="<%= blog.title %>'s image" class="card-img  featured">
                    </div>
                    <div class="col-lg-4 d-flex align-items-center justify-content-around">
                        <div class="card-body zoom">
                          <p class="text-black-50"><i><strong><%= blog.tags[0].toUpperCase() %></strong></i></p>
                          <h4 class="card-title"><%= blog.title %> <i class="fas fa-code text-primary"></i></h4>
                          <p class="lead">By: 
                            <i><%= blog.author.firstName.charAt(0).toUpperCase() + blog.author.firstName.slice(1) %> 
                            <%= blog.author.lastName.charAt(0).toUpperCase() + blog.author.lastName.slice(1) %></i>
                          </p>
                          <p class="lead">Created: <i><%= moment(blog.publishDate).format('MMM Do, YYYY') %></i></p>
                          <% if(blog.content.startsWith('```') || blog.content.startsWith('![Image]')) { %>
                            <p><strong>Content either begins with inline code, a code block or an Image. Click the button below to view content</strong></p>
                          <% } else { %>
                            <% if(blog.content.length >= 120) { %>
                              <p><strong><%- entities.decode(converter.makeHtml(blog.content)).substring(0, 120) %>...</strong></p>
                            <% } else { %>
                              <p><strong><%- entities.decode(converter.makeHtml(blog.content)) %></strong></p>
                            <% } %>
                          <% } %>
                          <a href="/blogs/blog/<%= blog.slug %>" class="btn btn-primary btn-sm">View More</a>
                        </div>
                    </div>
                  </div>
                </div>
                <hr class="style-two">
              </div>
            <% } else { %>
              <div class="col-xl-4 col-lg-6 my-4 order-12">
                <div class="card h-100 zoom shadow">
                  <img src="<%= blog.image.secure_url %>" alt="<%= blog.title %>'s image" class="card-img-top img-fluid shadow">
                  <div class="card-body">
                    <p class="text-black-50"><i><strong><%= blog.tags[0].toUpperCase() %></strong></i></p>
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="small lead">By: 
                      <i><%= blog.author.firstName.charAt(0).toUpperCase() + blog.author.firstName.slice(1) %> 
                      <%= blog.author.lastName.charAt(0).toUpperCase() + blog.author.lastName.slice(1) %></i>
                    </p>
                    <p class="small lead">Created: <i><%= moment(blog.publishDate).format('MMM Do, YYYY') %></i></p>
                    <% if(blog.content.startsWith('```') || blog.content.startsWith('![Image]')) { %>
                      <p>Content either begins with inline code, a code block or an Image. Click the button below to view content</p>
                    <% } else { %>
                      <% if(blog.content.length >= 120) { %>
                        <p><strong><%- entities.decode(converter.makeHtml(blog.content)).substring(0, 120) %>...</strong></p>
                      <% } else { %>
                        <p><strong><%- entities.decode(converter.makeHtml(blog.content)) %></strong></p>
                      <% } %>
                    <% } %>
                    <a href="/blogs/blog/<%= blog.slug %>" class="btn btn-primary">View Blog</a>
                  </div>
                </div>
              </div>
            <% } %>
          <% }) %>
        </div>
      <% } %>
    </div>
  </main>
<%- include ('../partials/footer') %>