<%- include ('../partials/header') %>
  <%- include ('../partials/modals/pwModal') %>
  <div class="profile-hero"></div>
  <div class="container-fluid footer-fix">
    <div class="jumbotron profile-wrapper bg-custom">
      <div class="row">
        <div class="col-xl-4 col-1g-12 col-12 mt-1">
          <div class="card">
            <img src="<%= user.image.secure_url %>" class="card-img-top" alt="<%= user.username %>'s profile image">
            <div class="card-body">
              <h5 class="card-title"><%= (user.firstName + ' ' + user.lastName).toUpperCase() %></h5>
              <% if (user.roles.admin) { %>
                <p class="card-text"><i class="fas fa-users-cog text-info fa-lg"></i> Admin</p>
              <% } else if (user.roles.manager) { %>
                <p class="card-text"><i class="fas fa-user-shield text-info fa-lg"></i> Manager</p>
              <% } else { %>
                <p class="card-text"> <i class="fas fa-user text-info fa-lg"></i> Member</p>
              <% } %>
              <p class="card-text">Member Since: <%= moment(user.createdAt).format('MMMM DD, YYYY') %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-info"><button class="btn btn-block card-link text-white" data-toggle="modal" data-target="#pwModal">Change PW</button></li>
              <li class="list-group-item bg-danger"><button class="btn btn-block card-link text-white" data-toggle="modal" data-target="#pwModal" disabled>Delete Account</button></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-8 col-1g-12 col-12 mt-1">
          <div class="card p-4 h-100">
            <ul class="nav nav-tabs navbar-dark" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edit</a>
              </li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content mt-2 my-auto mx-auto">
              <div class="tab-pane active p3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <% if (!blogs.docs.length) { %>
                  <h1 class="text-center">You do not have any blogs just yet!</h1>
                  <p class="text-center p-3"><a href="/blogs/new-blog" class="btn btn-primary">Create a Blog</a></p>
                <% } else { %>
                  <h1 class="text-center">Your most recent Blogs</h1>
                  <ul class="list-group list-group-flush">
                    <% blogs.docs.forEach((blog) => { %>
                      <li class="list-group-item"><%= blog.title %> <span class="float-right"><a href="/blogs/blog/<%= blog.slug %>">View</a></span></li>
                    <% }) %>
                  </ul>
                  <%- include ('../partials/paginate.ejs') %>
                <% } %>
              </div>
              <div class="tab-pane p3" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                <div class="row">
                  <div class="col-12">
                    <h2 class="text-center">Update your profile</h2>
                    <hr class="style-two">
                    <form action="/users/user/<%= user._id %>?_method=PUT" method="post"  enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" value="<%= user.firstName %>">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" value="<%= user.lastName %>">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" value="<%= user.email %>">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" value="<%= user.username %>">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label id="imageLabel" for="image">Profile Image</label>
                            <input type="file" class="form-control-file" id="image" name="image">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-check mt-md-4">
                            <input type="checkbox" class="form-check-input" id="private" name="private" <%- user.private ? 'checked' : '' %>>
                            <label class="form-check-label" for="private">Make your account private</label>
                          </div>
                        </div>
                        <div class="col-6 offset-3 text-center">
                          <button type="submit" class="btn btn-primary btn-block mt-3">Update Account</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ('../partials/footer') %>
  