<%- include ('./partials/header') %>
  <%- include('./partials/hero.ejs') %>
  <main>
    <div class="container-fluid custom-container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">What is <%= title %></h1>
          <hr class="style-two">
          <div class="row mt-2">
            <div class="col-md-6 mx-auto my-auto">
              <i class="fas fa-user-edit fa-3x d-flex justify-content-center my-3 text-primary"></i>
              <h2 class="lead"><%= title %> is exactly what the title says...</h2>
              <p><%= title %> uses a very simple and user friendly text editor that allows you to input code blocks, online images and allows full screen editing and previews.</p>
              <p>You can also just type normal text like you would in a blog... Either way, it's dead simple to use and the end result looks amazing!</p>
            </div>
            <div class="col-md-6">
              <pre class="">Formatted Code Example
                <code class="prettyprint format-code shadow-sm">
                    $(document).ready(function () { 
                      $(document).scroll(function () { 
                        var $nav = $(".fixed-top"); 
                        var $navHeight = $(".header-img") 
                        $nav.toggleClass('scrolled', 
                          $(this).scrollTop() &gt; $navHeight.height() - 20); 
                      });
                      <br /> 
                      new Typed('.typed', { 
                        strings: [`Welcome to SimpleBlog`], 
                        typeSpeed: 60, 
                        startDelay: 100, 
                        contentType: 'html' 
                      });
                    });
                </code>
              </pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="/images/js.jpeg" alt="Code Image" class="img-fluid shadow-lg rounded">
            </div>
            <div class="col-md-6 mx-auto my-auto">
              <p class="d-flex justify-content-center my-3 text-primary">
                <i class="fab fa-node fa-3x mr-2"></i>&nbsp;
                <i class="fas fa-database fa-3x mr-2"></i>&nbsp;
                <i class="fab fa-bootstrap fa-3x mr-2"></i>&nbsp;
              </p>
              <h2 class="lead"><%= title %> is built using Node.js, MongoDB, KickBox, Bootstrap 4 and more...</h2>
              <p><%= title %> is fast, easy to use and open source. It also uses the latest (at the moment) version of Bootstrap</p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 text-center">
              <h3>What are you waiting for? Click the button below to get started!</h3>
              <a href="/users/get-started" class="btn btn-primary shadow mt-3">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% if (!currentUser&& !isAuthenticated) { %>
    <%- include ('./partials/modals/forgotPwModal') %>
    <%- include ('./partials/modals/loginModal') %>
  <% } %>

<script>
  if ('<%= userCheck %>' == 'noUser') {
    $(window).on('load',function(){
      $('#loginModal').modal('show');
    });
  } 
</script>
<%- include ('./partials/footer') %> 
